@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */

.header-delivery-bg {
  background: rgba(232, 130, 21, 0.7);
}

.webkit-box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.webkit-box-nav {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.background-size{
  background-size: 100% 100%;
}